@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



/* *{
    border: 1px solid green;
    margin: 1px;
} */

@theme{
    --font-Martian: 'Martian Mono', monospace;
    --font-Stalinist: "Stalinist One", sans-serif;
    --font-Funnel: "Funnel Sans", sans-serif;
    --font-Rubik: "Rubik Iso", system-ui;

    --color-primary: oklch(45.7% 0.24 277.023);
    --color-pink: oklch(59.2% 0.249 0.584); 

    --shadow-md: 4px 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.3);
    --shadow-button-hover: 16px 16px 40px var(--color-pink), -16px -16px 40px var(--color-pink);

    --breakpoint-md: 56rem;  

}
 @layer base{
    h3{
        @apply font-bold font-Martian text-2xl md:font-semibold;
    }
    ul{
        @apply list-inside;
    }
    th{
        @apply px-3 max-w-[250px];
    }
    td{
        @apply border-b-2 border-gray-500 pt-1 pb-2 px-3 font-Funnel align-top ;
    }
 }
@layer components{
    .day-card{
        @apply flex justify-center items-center bg-sky-500 text-black font-bold font-mono text-2xl md:text-4xl rounded;
        
    }
    .tailwind-banner{
        @apply flex flex-col md:flex-row justify-around bg-violet-950 text-amber-50 font-bold text-center p-4 sm:text-2xl  font-mono mb-2.5;
    }
    .tailwind-logo{
        @apply text-amber-700 font-bold;
    }
    .prog-btn{
        @apply bg-amber-500/40 text-black font-semibold px-2 py-1 rounded-full;
    }
    .profile-box{
        @apply bg-gray-400/50 rounded-2xl px-2 py-1 h-[100px] md:h-[150px] flex justify-between items-center;
    }
    .button-card{
        @apply bg-gray-200 h-[150px] flex justify-center items-center ;
    }
    .button3{
        box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.107), 5px 5px 50px 30px var(--color-primary), inset 0 30px 30px oklch(45.7% 0.24 277.023);
    }
    .button3:hover{
        box-shadow: 0 0 30px 10px oklch(45.7% 0.24 277.023);
    }
    .button5{
        box-shadow: 5px 0 3px #7df9ff, 8px 0 3px  #0b36c3;  
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 31% 100%, 0 68%); */
    }
    .button7{
        box-shadow: 5px 5px white, 8px 8px black;
    }
    .button7:hover{
        box-shadow: 5px 5px black;
    }
    .button9{
        box-shadow: -5px -5px oklch(50.5% 0.213 27.518);
    }
    .button9:hover{
        box-shadow: -3px -2px oklch(50.5% 0.213 27.518);
    }
    .button10{
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -10px -10px 10px rgb(255, 255, 255);
    }
    .button10:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgb(255, 255, 255);
    }
    .form-div{
        @apply w-full flex flex-col;
    }
    .login-label{
        @apply font-black font-mono text-[20px] mb-1;
    }
    .form-input{
        @apply bg-gray-300/50 rounded focus:outline-hidden p-1 focus:border-b-amber-500 focus:border-b-2;
    }
    .rate-box{
        @apply  border-1 border-gray-500 rounded p-1 font-semibold flex items-center gap-x-1 hover:border-2 hover:border-indigo-500/50 hover:bg-indigo-400/50 has-checked:border-indigo-500/50 has-checked:bg-indigo-400/50 
    }
    .nav-link{
        @apply pl-1.5 font-semibold text-[20px] last-of-type:border-b-0 border-b-2 md:border-b-0 w-full hover:bg-indigo-400 rounded  md:mx-2 md:text-center md:px-2 transition ease-in duration-300 md:duration-500 font-Funnel;
    }
    .banner-img{
        @apply h-auto md:h-full md:w-full rounded-lg object-cover;
    }
    .gallery-img{
        @apply h-full object-cover max-w-full rounded-lg grayscale transition duration-500 ease-in-out hover:grayscale-0 hover:cursor-pointer;
    }
    .sidebar-link{
        @apply flex gap-x-1.5 p-2 text-gray-800 hover:bg-blue-400/50 hover:text-blue-800 hover:font-bold rounded transition duration-500 ease-in-out;
    }
    .active{
        @apply bg-blue-400/50 text-blue-800 font-bold rounded;
    }
    .sidebar-link-text{
        @apply hidden md:block transition duration-500 ease-in;
    }
    .e-health-img{
        @apply rounded-2xl;
    }
    .e-health-text{
        @apply flex flex-col gap-y-2 justify-center items-center text-center
    }
    .our-story-div{
        @apply border-2 border-indigo-700 grid grid-cols-2 p-1.5 rounded;
    }
    .testimonial-box{
        @apply bg-white text-black rounded-md font-Funnel p-3 shadow-md border-2 border-b-5;
    }
    .testimonial-star-box{
        @apply flex
    }
    .testimonial-star-fill{
        @apply fill-amber-400;
    }
    .testimonial-star-empty{
        @apply fill-black/80;
    }
    .testimonial-text{
        @apply text-left font-Funnel;
    }
    .testimonial-profile-box{
        @apply flex gap-2 mt-2;
    }
    .testimonial-pp{
        @apply size-10 rounded-full object-cover;
    }
    .testimonial-profile-name{
        @apply font-Funnel font-bold;
    }
    .testimonial-profile-title{
        @apply font-Funnel text-gray-600 -mt-1.5;
    }
    .plan-box{
        @apply border-2 border-gray-500/50 rounded-lg p-5;
    }
    .price-box{
        @apply flex gap-x-1
    }
    .price-value{
        @apply font-Funnel font-extrabold;
    }
    .price-value h2{
        @apply text-2xl
    }
    .price-value h1{
        @apply text-6xl
    }
    .price-box p{
        @apply self-end-safe text-gray-500 font-Funnel font-medium;
    }
    .plan-description{
        @apply font-Funnel mt-1.5 text-[16px] md:text-[20px]
    }
    .plan-button{
        @apply font-Funnel font-semibold border-2 w-full rounded-md my-1.5 py-1.5 border-gray-500/50 hover:bg-gray-300/50; 
    }
    .plan-box ul{
        @apply my-1.5 font-Funnel;
    }
    .plan-box ul li{
        @apply underline decoration-1 decoration-wavy text-lg;
    }
    .notion-ai-box{
        @apply bg-gray-200/50 mt-2 p-3 rounded-md;
        
    }
    .notion-ai{
        @apply flex gap-1 items-center;
    }
    .notion-ai img{
        @apply size-5;
    }
    .notion-ai span{
        @apply font-Funnel font-extrabold text-lg;
    }
    tr th:first-of-type, tr td:first-of-type{
        @apply w-1/3;
    }
}


@utility flex-center{
    @apply flex justify-center items-center;
}
